# Environnements Python
.venv/
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Donnees et modeles volumineux
data/processed/*
data/eval/*
data/index/*
models/*
models/base/qwen2.5-0.5b-instruct-fp16.gguf
*.gguf
*.safetensors
*.bin

# Garder les dossiers vides dans Git
!data/processed/.gitkeep
!data/eval/.gitkeep
!data/index/
!data/index/.gitkeep
!models/base/
!models/base/.gitkeep
!models/adapters/
!models/adapters/.gitkeep

# Fichiers locaux
.env
.DS_Store
